{% extends "layout.njk" %}

{% block content %}
<div id="wrapper">
<img src="https://media-exp1.licdn.com/dms/image/C4E03AQF45MCLO8NyJg/profile-displayphoto-shrink_400_400/0/1564608296669?e=1614816000&v=beta&t=LT0X3vsRCHr4iMVDgHxxetv_HzPfZr3G2-x7GFg3-0g" alt="">
<h1>Felipe Iasi</h1>
<h2>Real Time Motion Designer</h2>

<p>As melhores ideias das melhores cabeças Veja mais no meu <a href="teste" target="blank">portfolio</a></p>
{% endblock %}