{% extends "layout.html" %}

{% block content %}
    <div id="wrapper">
        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQF45MCLO8NyJg/profile-displayphoto-shrink_200_200/0?e=1585785600&v=beta&t=_vX46GewCK79kHaZYXI1OwoWu-NRF8roqVQ7oDek3gY" alt="Felipe Iasi">
        <h1>Felipe Iasi</h1>
        <h2>Designer Curioso</h2>
        <p>Descricao completa do cargo, das coisas que faço e outras coisas interessantes. Veja meu <a href="http://">Linkedin</a> </p>
    </div>

    <footer>
        <div class="links">
            <a href="/">Linkedin</a>
            <a href="/">Twitter</a>
            <a href="/">Github</a>
        </div>
    </footer>

{% endblock %}
