<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Felipe Iasi</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="link">
            <a href="/sobre">Sobre</a>
            <a href="/classes">Aulas</a>
            <a href="/portfolio">Portfolio</a>
        </div>      
    </header>
     
    {% block content %}

    {% endblock %}
<footer>
    <div class="link">
        <a href="sobre">Github</a>
        <a href="info">Linkedin</a>
    </div>      
</footer>

</body>
</html>