@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --primary-color: orange;
}

*{
    padding: 0px;
    margin: 0px;
    border: none;
    text-decoration: none;
    border: 0px rgba(255, 85, 85, 0.2) solid;
}

body{
    font-family: 'Roboto',sans-serif;    
    background-color: var(--primary-color);
}

header{
    background-color: rgb(236, 236, 236);
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}

.link{
    font-size: 22px;
}

.link a{
    color: cornsilk;
    color: #777;
    position: relative;
}
.link a + a{
    margin-left: 32px;
}

.link a.active{
    font-weight: bold;
    color: var(--primary-color);
}
.link a:hover{
    color: var(--primary-color);
    transition: all 300ms;
}

.link a::after{
    content:"";
    width: 0px;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -1px;
}

.link a:hover::after{
    width: 100%;
    transition: all 300ms;
}

/*== card ==*/
.card{
    background-color: white;
    width: 800px;
    min-height: 400px;
    margin: 45px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    animation: up 500ms ease;
}

@keyframes up{
    0%{
        opacity: 0;
        transform: translateY(15px);
    }

    100%{
        opacity: 1;
    }
}

.card .avatar{
    background-color: royalblue;
    width: 400px;
}

/* Detalhes */
.details{
    padding: 32px;
}

.details .item{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px 0;;
}

.details .item:last-child{
    border: none;
}

.details h3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    color: var(--primary-color);
}

.details .item div:nth-child(1){
    font-size: 14px;
    line-height: 24px;
    color: var(--primary-color);
    letter-spacing: 0.7px;
    font-weight: normal;

}
.details .item div:nth-child(2){
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

.details .item span{
    padding: 8px 16px;
    background-color: var(--primary-color);
    border-radius: 16px;
    color: white;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
}

/* form input */
input{
    width: 100%;
    outline: none;
    color: #222;
    font-weight: bold;
    font-size: 18px;
}

input[type="radio"]{
    width: initial;
    margin-right: 4px;
}
input::placeholder{
    font-size: 16px;
    font-weight: normal;
}
button[type="submit"]{
    padding: 8px 32px;
    background-color: var(--primary-color);
    border-radius: 16px;
    margin-top: 16px;
    width: 100%;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
}